/* .caard{
    display: flex;
} */

.cross-line {
    position: absolute;
    width: 100%;
    top: 0%;

    height: 10px;
    background-color: #00000000;
    transform: rotate(90deg);
    overflow: hidden;
}

.cross-line::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: #000000;
}

.cross-line::before {
    transform: rotate(0deg);
}





.discount {
    position: absolute;
    display: flex;
    z-index: 100;
    top: 0%;
    right: 0%;
    padding: 4px 8px;
    background-color: #704d79;
    font-weight: 100;
    margin: 0%;
}

.discount span {
    color: #ffffff;
    font-size: 15px;
    text-decoration: line-through 4px #988a9c;
    /* transform: rotate(45deg); */
}

.discountTag {
    z-index: 1000;
}

.discountTag i {
    position: absolute;
    top: 0%;
    z-index: 100;

    color: black;
    /* right: 0%; */
    left: 0%;
    font-size: 50px;

}

.discountTag i p {
    position: absolute;
    top: 38%;
    font-size: 10px;
    z-index: 100;

    font-weight: 600;
    left: 10%;
    color: #d2d2d2;
    margin: 10px 10px;

}

.discount::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 8px solid #443c63;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}







.offer_card {
    position: relative;
    padding: 0px 10px;
    /* background: linear-gradient(to right, #122c4468, #122c4468); */

    overflow: hidden;
    background: #d0cdff;
    border-radius: 10px;
    /* background: linear-gradient(to right, #122c4468, #f8f8f8); */
}

.offer_card::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), transparent, rgba(255, 255, 255, 0.5));
    transform: rotate(-45deg);
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        transform: rotate(-45deg) translateX(-200%);
    }

    100% {
        transform: rotate(-45deg) translateX(200%);
    }
}

.products_items {
    width: 250px;
    display: flex;
    cursor: pointer;
}

.offer_tag_amt span {
    font-size: 10px;
    display: block;

}

.product_bottom {
    width: 250px;
}



.offer_img {
    display: flex;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */

}

.offer_img img {
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    object-fit: cover;
    justify-content: center;
    width: 250px;
}

.offer_info h4 {
    font-weight: 600;
    font-size: 20px;
    padding: 5px;

    margin: 0;
}

.offer_info span {
    font-size: 15px;
    display: block;

}

.add_cart {
    /* font-size: 10px; */
    font-weight: 600;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    /* z-index: 1000; */

    cursor: pointer;
}

.add_cart span:nth-child(1) {
    font-size: 17px !important;

}

.add_cart button {
    font-size: 14px !important;
    /* padding: 0px 5px !important; */
    /* padding-bottom: 0px; */
    /* margin-right:5px ; */
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-weight: 300;
    border: 1px solid transparent;
    background-color: #443c63;
    color: #fff;
}




/* .bottom {
    border-bottom: 1px solid rgb(184, 183, 183);
    border-left: 1px solid rgb(184, 183, 183);
    border-right: 1px solid rgb(184, 183, 183);
} */

@media only screen and (max-width: 600px) {

    .offer_card {
        position: relative;
        overflow: hidden;
        height: 230px;
        margin: 10px 0px;
        /* background:#d0cdff; */
        border-radius: 10px;
        padding: 0px 10px;
        background: linear-gradient(to right, #122c4468, #122c4468);

    }

    .offer_card::after {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), transparent, rgba(255, 255, 255, 0.5));
        transform: rotate(-45deg);
        animation: shine 5s infinite;
    }


    .products_items {
        width: 150px;
        cursor: pointer;
    }

    .product_bottom {
        width: 170px;

    }

    .offer_img {

        position: absolute;
        top: 0%;
        z-index: 0;
        right: 0%;
        left: 0%;
        bottom: 0%;


    }

    .offer_img img {
        height: 200px;
        width: 100%;
        object-fit: contain;
        z-index: -10;
        /* position: absolute; */
        /* top: 0%; */
        /* right: 0%; */
        /* bottom: 0%; */
        /* left: 50%; */
    }

    .offer_info {
        height: 35px;
    }

    .offer_info h4 {
        font-weight: 600;
        font-size: 18px !important;
        padding: 15px 10px;

        margin: 0;
    }


    .add_cart span:nth-child(1) {
        font-size: 14px !important;

    }

    .add_cart button {
        /* font-size: 10px !important; */
        /* padding:0px 5px; */
        /* border-radius: 5px; */
        border: 1px solid transparent;
        background-color: #443c63;
        color: #fff;
    }

    .info_limitpage {
        position: absolute;
        bottom: 0%;
        right: 0%;
        left: 0%;
    }





}