.form_box {
    background-position: cover;
    background-image: url(https://img.freepik.com/premium-photo/business-objects-with-shopping-carts-symbols-online-shopping_220873-11414.jpg);
    background-size: cover;
    border: 1px solid black;
    /* display: flex; */
    font-family: Raleway, sans-serif;
    padding-top: 40px;

    min-height: 500px;
    background-color: #060617;
    box-shadow: 10px 10px 20px 1px black;
    border-radius: 10px;
    color: #fff;
    justify-content: center;

    /* height: 100px; */
    margin-bottom: 20px;
}

.form_box p {
    font-size: 20px;
    color: #060617;
    font-weight: 700;
}

.login_page {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);

    margin-top: 70px;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form_grp input {
    margin-top: 10px;
}

.login_input_field {

    position: relative;

}
.login_form h2{
color: #000000;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: 600;
}
.login_input_field span {
    position: absolute;
    top: 15%;
    left: 17%;
}

.login_input_field i {
    color: #060617;
    font-size: 20px;
}

.login_input_field input {

    padding-left: 40px;
}

@media only screen and (max-width: 600px) {
    .form_box {
        background-position: cover;
        background-image: url(https://img.freepik.com/premium-photo/business-objects-with-shopping-carts-symbols-online-shopping_220873-11414.jpg);
        background-size: cover;
        border: 1px solid black;
        /* display: flex; */
        font-family: Raleway, sans-serif;
        padding-top: 40px;

        min-height: 500px;
        background-color: #060617;
        box-shadow: 10px 10px 20px 1px black;
        border-radius: 10px;
        color: #fff;
        justify-content: center;

        /* height: 100px; */
        margin-bottom: 20px;
    }

    .form_box p {
        font-size: 15px;
        color: #060617;
        font-weight: 700;
    }

    .login_page {
        background: linear-gradient(90deg, #C7C5F4, #776BCC);

        margin-top: 40px;
        padding-bottom: 30px;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .form_grp input {
        margin-top: 10px;
    }

    .login_input_field {

        position: relative;

    }

    .login_input_field span {
        position: absolute;
        top: 28%;
        left: 3%;
    }

    .login_input_field i {
        color: #000000 !important;
        font-size: 20px !important;
    }

    .login_input_field input {

        padding-left: 40px !important;
    }

}