.Product_list_search {
    margin-left: 30%;
    width: 100%;
    /* overflow-y: scroll; */
    background-color: #ffffff;
    padding-top: 20px;
    margin-right: 20%;
}

.search_card {
    height: 50px;
}

.products_Search_items {
    display: flex;
}

.products_Search_img img {
    width: 50px;
    height: 50px;
}

.product_Search_info {
    margin-left: 20px;
}

.product_Search_info h4 {
    font-size: 20px;
}

.review_box {
    max-height: 800px;
    overflow-y: scroll;

}

.review_box::-webkit-scrollbar {
    display: none;
    width: 0px !important;
    max-height: 300px;
}

.review_box {
    max-height: 400px;

}

.review_comments {
    border-top:
        1px solid gey;
    border-bottom: 1px solid grey;
    padding: 5px;
}

@media only screen and (max-width: 600px) {

    .Product_list_search {
        margin-left: 0%;
        border-bottom: 1px;
        width: 100%;
        background-color: #ffffff;
        margin-right: 0%;
    }

    .search_card {
        height: 50px;
    }

    .products_Search_items {
        display: flex;
    }

    .products_Search_img img {
        width: 30px;
        height: 30px;
    }

    .product_Search_info h4 {
        font-size: 15px;
        margin: 0%;
    }

    .product_Search_info {
        margin-left: 20px;
    }

    .product_Search_info span {
        font-size: 13px;
    }







}