.loading_effect {
    position: relative;
    padding: 0px 10px;
    /* display: inline-block; */
    height: 250px;
    width: 250px;
margin: 20px 30px;
    overflow: hidden;
    background:#d0cdff;
    border-radius: 10px;
    /* background: linear-gradient(to right, #c6fff7, #f8f8f8); */
}

.loading_effect::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), transparent, rgba(255, 255, 255, 0.5));
    transform: rotate(-45deg);
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        transform: rotate(-45deg) translateX(-200%);
    }

    100% {
        transform: rotate(-45deg) translateX(200%);
    }
}

.filter_widget select {
    margin: 10px 10px;
    font-family: 'Rubik';
    padding: 10px 10px;
    background-color:#443c63;
    color: white;
    cursor: pointer;
    border-radius: 5px;

}

.filter_widget select option {
    border-radius: 10px;
    outline: none !important;
}

.filter_widget select option {
    font-size: 15px;
    background-color:#443c63;


}

