/* #443c63 */
.stickey_header {
    z-index: 999;
    width: 100%;
    height: 70px;
    position: fixed;
    /* line-height: 70px; */
    padding-left: 15px;
    padding-right: 20px;
    top: 0;
    left: 0;
    background-color: #443c63;
}

.navbar {
    height: 60px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.logo img {
    height: 60px;
    width: 200% !important;
    margin-bottom: 5px;
    margin-right: 10px;
    color: #efefef;
}

.logo {
    display: flex;
    float: inline-start;
}


.profile img {
    height: 30px;
    cursor: pointer;
    width: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile {
    position: relative;
    z-index: 10;
}

.nav_icon {
    font-size: 20px;
    margin-left: 20px;
    display: flex;
    margin-right: 20px;
    /* float: right; */
    /* justify-content: end; */
}

.fav_icon,
.cart_icon {
    position: relative;
    cursor: pointer;
    margin-right: 15px;
    /* display: flex; */
    color: #efefef;
    font-size: 25px;
}

.bandage {
    position: absolute;
    bottom: 60%;
    left: 80%;
    height: 20px;
    width: 20px;
    color: aliceblue;
    background-color: #852222;
    border-radius: 55%;
    font-size: 15px;
    text-align: center;

}

.nav_icon {
    display: flex;
    align-items: center;

}

.mobile_menu {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .navigation {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 999;
        scroll-behavior: smooth;
        display: none;
        background-color: rgba(0, 0, 0, 0.473);
    }


    .fav_icon,
    .cart_icon {
        position: relative;
        cursor: pointer;
        /* display: flex; */
        color: #efefef;

        font-size: 18px;
    }

    .bandage {
        position: absolute;
        bottom: 60%;
        left: 80%;
        height: 15px;
        width: 15px;
        color: aliceblue;
        background-color: #852222;
        border-radius: 55%;
        font-size: 10px;
        text-align: center;

    }

    .logo {
        margin-top: 5px;
    }

    .navbar {
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;

    }

    .stickey_header {
        z-index: 999;
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #443c63;

    }

    .logo img {
        padding-bottom: 20px;
        /* display: flex; */
        /* align-items: center; */
    }

    .nav_icon {
        margin-right: 0%;
        padding-bottom: 20px;
    }

    .navbar {
        display: flex;
        align-items: center;
    }




}