/* #443c63 */
.stickey_header {
    z-index: 999;
    width: 100%;
    height: 70px;
    position: fixed;
    /* padding-left: 15px; */
    /* padding-right: 0px; */
    top: 0;
    left: 0;
    background-color: #443c63;
}



.search_box {
    display: flex;
    width: 30%;
    border-radius: 5px;
    height: 40px;
    margin: 0%;
    margin-bottom: 15px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: end;
    float: right;
}

.search_box input {
    outline: none;
    border: none;
    width: 100%;
}


.navbar {
    height: 60px;
    display: flex;
    position: fixed;
    /* justify-content:end; */
    margin: 0px;
    margin-bottom: 10px;

    padding: 0px;
    width: 100%;
}

.logo img {
    height: 60px;
    width: 200% !important;
    margin-bottom: 5px;
    margin-right: 10px;
    color: #efefef;
}

.logo {
    display: flex;
    float: inline-start;
}


.profile img {
    height: 30px;
    cursor: pointer;
    width: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile {
    position: relative;
    z-index: 10;
}



.mobile_menu {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .search_box {
        /* border: none; */
        /* outline: none; */
        display: flex;
        width: 40%;
        /* position: relative; */
        height: 35px;
        margin: 0%;
        padding: 0%;
        /* padding-bottom: 23px; */
        margin-bottom: 20px;
        padding: 8px;
        background-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: end;
    }

    .search_box input {
        /* background-color: transparent; */
        outline: none;
        border: none;
        width: 100%;
    }

    .navigation {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 999;
        scroll-behavior: smooth;
        display: none;
        background-color: rgba(0, 0, 0, 0.473);
    }




    .logo {
        margin-top: 5px;
    }

    .navbar {
        height: 40px;
        /* display: flex; */
        /* justify-content: space-between; */
        margin: 0px;
        padding: 0px;
        margin-bottom: 20px;


    }

    .stickey_header {
        z-index: 999;
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #443c63;

    }

    .logo img {
        padding-bottom: 20px;
        /* display: flex; */
        /* align-items: center; */
    }

    .nav_icon {
        margin-right: 0px;
        padding-bottom: 20px;
    }






}